@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Bowler

<h2>Edit Bowler</h2>
<p></p>

<form method="post" asp-controller="Home" asp-action="Edit">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="BowlerID" />

    <div class="form-group">
        <label asp-for="BowlerFirstName">First Name:</label><input asp-for="BowlerFirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerMiddleInit">Middle Initial:</label><input asp-for="BowlerMiddleInit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BowlerLastName">Last Name:</label><input asp-for="BowlerLastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerAddress">Address: </label><input asp-for="BowlerAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerCity">City: </label><input asp-for="BowlerCity" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerState">State: </label><input asp-for="BowlerState" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerZip">Zip: </label><input asp-for="BowlerZip" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BowlerPhoneNumber">Phone Number: </label><input asp-for="BowlerPhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TeamID">Team Name: </label>
        <select asp-for="TeamID" class="form-control" />
        <option value="1">Marlins</option>
        <option value="2">Sharks</option>
        <option value="3">Terrapins</option>
        <option value="4">Barracudas</option>
        <option value="5">Dolphins</option>
        <option value="6">Orcas</option>
        <option value="7">Manatees</option>
        <option value="8">Swordfish</option>
        <option value="9">Huckleberrys</option>
        <option value="10">MintJuleps</option>
        </select>
    </div>

    <div class="float-end">
        <input type="submit" class="btn btn-primary" value="Confirm" />
    </div>

</form>
